{% load i18n %}

<div class="security-center-widget">
 <span class="fa fa-spinner fa-pulse"></span>
 {% trans "Loading..." %}
</div>
<script type="text/javascript">
$(document).ready(function () {
    {# Load security center error messages from custom security view. #}
    $('#reload-security-widget').click(function(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        $('.security-center-widget').load('feed/security/?reload=1');
    });

    $('.security-center-widget').load('feed/security/', function() {
        var $extras = $('#admin-extras');

        if ($.data($extras[0], 'masonry')) {
            $extras.masonry('reload');
        }
    });
});
</script>
