{% load i18n staticfiles %}

<div class="security-center-content-widget">
 <span class="fa fa-spinner fa-pulse"></span>
 {% trans "Loading..." %}
</div>
<script type="text/javascript">
$(document).ready(function () {
    // RSS Feed Controls
    $('#reload-security-widget').click(function(evt) {
        $('.security-center-content-widget').load('feed/security/?reload=1');
            evt.preventDefault();
        });

    $('.security-center-content-widget').load('feed/security/', function() {
        var $extras = $('#admin-extras');

        if ($.data($extras[0], 'masonry')) {
            $extras.masonry('reload');
        }
    });
});
</script>
