{% load feedtags i18n %}

{% if error %}
{%  blocktrans with error.reason as error %}<p class="feed-error">Unable to load feed: {{error}}</p>{% endblocktrans %}
{% else %}

<div class = "summary">
{%  if count == 1 %}
  &nbsp; {{error_msgs.count}} security issue was found: <br />

{%  else %}
  &nbsp; {{count}} security issues were found: <br />
{%  endif %}
</div>

{%  for security_incident in error_msgs  %}
<div class = "entry">&nbsp; &#9656; {{security_incident}} </div>
{%  endfor  %}

{% endif %}
